---
---
<!DOCTYPE html>
<html class="no-js" lang="fr">

{% include head.html %}

<body>
  {% include header.html %}

  <main>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at pellentesque nisl. Ut viverra et nisi ut faucibus. Morbi enim massa, lacinia in finibus nec, rhoncus et ipsum. Morbi sed sapien eget massa malesuada euismod et eget mi. Sed convallis id sapien at tristique. Nunc semper, velit eget consectetur vestibulum, enim orci lobortis elit, eu congue lacus risus condimentum felis. Aenean mauris elit, consequat vitae tellus vel, consectetur pretium nisi. Mauris lacinia diam sit amet velit blandit scelerisque. Donec nec lacus id arcu laoreet hendrerit.
      Pellentesque faucibus dolor id purus cursus semper. Phasellus eget tempus urna. Phasellus sem tellus, finibus non turpis vitae, condimentum venenatis purus. Morbi ut ante massa. Pellentesque sed quam libero. </p>
  </main>

  {% include footer.html %}
</body>

</html>
